<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>消息转发解决方法找不到.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A068B5E1F40850E00D45358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A068B771F40850F00D45358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A068B821F40850F00D45358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
